.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block {
  display: flex;
  padding: 1em;
  margin: 1em;
}

.button {
  display: flex;
  padding: 1em;
  margin: 1em;
  cursor: pointer;
}

.list {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemList {
  display: flex;
  padding: 1em;
  margin-bottom: 1em;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #000;
  border-radius: 5px;
}
