.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block {
  display: flex;
  padding: 1em;
  margin: 1em;
}

.list {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
