html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: -webkit-linear-gradient(
    90deg,
    #2f3231,
    #727b7e,
    #c1b99a,
    #ffefad
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    90deg,
    #2f3231,
    #727b7e,
    #c1b99a,
    #ffefad
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body,
body * {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.button {
  display: flex;
  padding: 1em;
  margin: 1em;
  border-radius: 0.5em;
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  background-color: #97304583;
  cursor: pointer;
}
